.list {
  display: grid;
  grid-template-columns: 90%;
  padding: 0;
  justify-content: center;
}

.list li {
  margin-bottom: 2%;
}

@media screen and (min-width: 800px) {
  .list {
    grid-template-columns: 45% 45%;
  }
}