.nutrition-facts {
  list-style-type: none;
  padding: 0;
}

.nutrition-facts li {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10%;
  justify-content: space-between;
  justify-items: center;
  padding: 2.5% 0;
  border-bottom: 1px solid #ccc;
}

.nutrition-facts li:first-child span:last-child {
  font-weight: bold;
}

.nutrition-facts li span:first-child {
  font-weight: bold;
  justify-self: start;
}

@media screen and (min-width: 800px) {
  .nutrition-facts {
    margin: 0 10%;
  }
}