.card-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5%;
  padding: 0;
  margin: 2.5%;
}

.card-list li {
  display: block;
}

.card-list li div {
  height: 100%;
}

@media screen and (min-width: 800px) {
  .card-list {
    grid-template-columns: repeat(4, 1fr);
  }
}